<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Backbone.js" version="1.1.2" targetFramework="net452" userInstalled="true" />
  <package id="jQuery" version="2.1.4" targetFramework="net452" userInstalled="true" />
  <package id="jquery.datatables" version="1.10.7" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Select2-Bootstrap" version="1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Select2.js" version="3.4.1.1" targetFramework="net452" userInstalled="true" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net452" userInstalled="true" />
  <package id="underscore.js" version="1.5.1" targetFramework="net452" userInstalled="true" />
</packages>