<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h4 id="configurationDetails"></h4>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li class="active"><a href="#general">General</a></li>
            <li><a href="#windData">Wind Data</a></li>
            <li><a href="#sunData">Sun Data</a></li>
            <li><a href="#demandData">Demand Data</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h3>General</h3>
                <p></p>
            </div>
            <div id="windData" class="tab-pane fade">
                <h3>Wind Data</h3>
                <p></p>
            </div>
            <div id="sunData" class="tab-pane fade">
                <h3>Sun Data</h3>
                <p></p>
            </div>
            <div id="demandData" class="tab-pane fade">
                <h3>Demand Data</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>




