<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h4 id="project"></h4>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li class="active"><a href="#projectGeneral" data-toggle="tab">General</a></li>
            <li><a href="#powerUnits" data-toggle="tab">Power Units</a></li>
            <li><a href="#windData" data-toggle="tab">Wind Data</a></li>
            <li><a href="#sunData" data-toggle="tab">Sun Data</a></li>
            <li><a href="#demandData" data-toggle="tab">Demand Data</a></li>
        </ul>
        <hr />
        <div class="tab-content">
            <div id="projectGeneral" class="tab-pane fade in active">
                <div class="container-fluid">
                    <form role="form" id="projectGeneralForm">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="projectName" class="col-lg-1 col-form-label">Name</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="projectName" placeholder="Name" required data-field="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="projectPlace" class="col-lg-1 col-form-label">Place</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="projectPlace" placeholder="Project Place" data-field="Place" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="projectCoordinates" class="col-lg-1 col-form-label">Coordinates</label>
                                    <div class="col-sm-12">
                                        <input data-validatecoordinates="validatecoordinates" type="text" class="form-control" id="projectCoordinates" placeholder="Coordinates" data-field="Coordinates">
                                        <span class="help-block with-errors"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <div id="generalMap" class="map col-sm-12" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="powerUnits" class="tab-pane fade in active">
                <div class="container-fluid">
                    <form role="form" id="projectPowerUnitsForm">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <div id="generalMap" class="map col-sm-12" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="windData" class="tab-pane fade">
                <h3>Wind Data</h3>
                <p></p>
            </div>
            <div id="sunData" class="tab-pane fade">
                <h3>Sun Data</h3>
                <p></p>
            </div>
            <div id="demandData" class="tab-pane fade">
                <h3>Demand Data</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>




