<div class="panel panel-green">
    <div class="panel-heading">
        <div class="row">
            <h5 class="col-xs-6">Solar Panel Supplier</h5>
            <div class="col-xs-6 btn-group">
                <button class="btn btn-mini btn-danger" title="remove" name="remove">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group ">
            <label>Name:</label>
            <input class="form-control" type="text" data-field="Name" />
        </div>
    </div>
</div>




