<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h5 class="col-xs-6">Storage</h5>
            <div class="col-xs-6 btn-group">
                <button class="btn btn-mini btn-danger" title="remove" name="remove">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group ">
            <label>Name:</label>
            <input class="form-control" type="text" name="Name" data-field="Name" />
        </div>
        <div class="form-group ">
            <label>Unit Price($):</label>
            <input class="form-control" type="number" min="0" step="1" name="Price" data-field="Price" maxlength="5"/>
        </div>
        <div class="form-group ">
            <label>Max Capacity(MW)</label>
            <input class="form-control" type="number" min="0" step="1" data-field="MaxCapacity" maxlength="5" />
        </div>
        <div class="form-group ">
            <label>Battery Capacity(MW)</label>
            <input class="form-control" type="number" min="0" step="1" data-field="BatteryCapacity" maxlength="5" />
        </div>
        <div class="form-group ">
            <label>Charge Rate (MW/H)</label>
            <input class="form-control" type="number" min="0" step="1" data-field="ChargeRate" maxlength="5" />
        </div>
        <div class="form-group ">
            <label>Discharge Rate (MW/H)</label>
            <input class="form-control" type="number" min="0" step="1" data-field="DischargeRate" maxlength="5" />
        </div>
        <div class="form-group ">
            <label>Efficiency Coeficient</label>
            <input class="form-control" type="number" min="0" step="1" data-field="Efficiency" maxlength="5" />
        </div>
        <div class="form-group ">
            <label>Annualy Efficiency Loss</label>
            <input class="form-control" type="number" min="0" step="1" data-field="AnnualyEfficiencyLoss" maxlength="5" />
        </div>
        <div class="form-group ">
            <label>Cycles</label>
            <input class="form-control" type="number" min="0" step="1" data-field="Cycles" maxlength="5" />
        </div>
        <div>
            <a class="componentLink storage"></a>
        </div>
    </div>
</div>




